.vs
Kotovskaya.Categories/bin/
Kotovskaya.API/bin/
Kotovskaya.Images/bin/
Kotovskaya.Order/bin/
Kotovskaya.Categories/obj/
Kotovskaya.API/obj/
Kotovskaya.Images/obj/
Kotovskaya.Order/obj/
*/bin/
*/obj/
.idea/  